*.aux
*.bbl
*.blg
/project/build/
/project/dist/
project/nbproject/private/
pvis2016/pvis2016.tps
project/adjacency.txt
project/arcs.txt
project/areas.txt
project/circles.txt
project/debug.txt
project/grid.txt
project/hashes.txt
project/neighbors.txt
project/polygons.txt
project/probe-grid.txt
project/sphere-isolated.txt
project/tori.txt
project/triangles.txt
project/vertices.txt
project/volume.txt
pvis2016/pvis2016.pdf
